body {
  background-color: #97bfb4;
}

h1 {
  color: #40394a;
}

h2 {
  color: #40394a;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
